<a href="https://colab.research.google.com/github/off4321/for_zemi/blob/main/%E5%8D%92%E8%AB%961.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df = pd.read_csv("/content/drive/MyDrive/自分用/zemmiyou/卒論/データ/移動人口データ/編集データ(現在)/北海道all.csv")

In [ ]:
df.head()

,Column1,時間軸,移動後の住所地（現住地）2020〜 コード,移動後の住所地（現住地）2020〜,総数,0〜9歳,10〜19歳,20〜29歳,30〜39歳,40〜49歳,50〜59歳,60歳以上,不詳/その他,loc,lat,lng
0,1,2021/1/1,1100,札幌市,56986,4636,2556,18984,12759,6342,3978,7731,0,札幌市,43.061771,141.354451
1,2,2021/1/1,1101,札幌市中央区,8566,404,373,3102,1792,973,671,1251,0,札幌市中央区,43.046848,141.322114
2,3,2021/1/1,1102,札幌市北区,7276,791,312,2313,1634,850,496,880,0,札幌市北区,43.144873,141.358562
3,4,2021/1/1,1103,札幌市東区,7579,577,371,2652,1681,832,531,935,0,札幌市東区,43.061771,141.354451
4,5,2021/1/1,1104,札幌市白石区,6968,393,272,2675,1475,772,517,864,0,札幌市白石区,43.062351,141.413278

In [3]:
japan = pd.read_csv("/content/drive/MyDrive/自分用/zemmiyou/卒論/データ/移動人口データ/元データ/日本人口.csv", encoding = "shift_jis")

In [ ]:
japan.head()

,時間軸（年次） コード,時間軸（年次）,全国，都道府県，市区町村（2000年市区町村含む） コード,全国，都道府県，市区町村（2000年市区町村含む）,/男女,総数,男,女
0,2020000000,2020年,0,全国,NaN,"126,146,099","61,349,581","64,796,518"
1,2020000000,2020年,1000,北海道,NaN,"5,224,614","2,465,088","2,759,526"
2,2020000000,2020年,1100,札幌市,NaN,"1,973,395","918,682","1,054,713"
3,2020000000,2020年,1101,札幌市中央区,NaN,"248,680","112,853","135,827"
4,2020000000,2020年,1102,札幌市北区,NaN,"289,323","136,596","152,727"

In [117]:
japan["市区町村"] = df["移動後の住所地（現住地）2020〜"]

In [149]:
'''↑のように行う前に基準となる列をデータフレームに追加しておくこと'''
'''最初のinput入力の際に検索したい列を入力すること'''


# データフレームから欲しい列を選択
# t : 欲しい列数
# find_column_df : 基準となる列を持っているデータフレーム
# df : 欲しい列があるデータフレーム
# new_df : 新しい空のデータフレーム（事前に作っておく）

def clean(t, find_column_df, df, new_df):

  # df と name の空リストを作成

  df_list = [ [] for i in range(0,t)]
  name_list = [ [] for i in range(0,t)]
  for i in range(0, t):

    # list に列名を入力し、追加

    n = input("抽出したい列名:")
    name_list[i].append(n)

    # df_list に列名と同じ列のdfを追加

    df_list[i].extend(df[n])

    # new_df に新しい df_list の列を追加

    new_df[i] = df_list[i]
  print(name_list)

  # 調べたいデータの列名を入力、 new_df に追加

  find_column = input("基準となる列名")
  new_df[find_column] = find_column_df[find_column]
  print(find_column)
  return new_df.head()

  # s : 基準データの行数分繰り返す 
  # t : 空リストの l の個数分繰り返す
  # T_df1_column : 基準となるデータフレームのカラム(列名)
  # T_df2_column : 検索したいデータフレームのカラム
  # new_df : 新しいデータフレーム（事前に準備）

def select_make(t , s, T_df1_column, T_df2_column, new_df):
  l = [ [] for i in range(t)]

  # T_df1_column(基準) の k番目が T_df2_column の中で一つでも等しかった場合、
  # df の m 列目で T_df1_column の k番目と T_df2_column が一致する要素を抽出
  # 等しいものが一つもなかったら、0を追加

  for k in range(0,s):
    for m in range(0, t):
      if(T_df1_column[k] == T_df2_column).any():
        l[m].extend(df[m][T_df1_column[k] == T_df2_column])
      else:
        l[m].append("0")

  # 空リストの個数分 new_df の i 番目を空リスト l の i 番目に入れる

  for i in range(0, t):
    new_df[i] = l[i]

  # new_df の0行目に0が入っている場合、除外する。 

  new_df_0 = new_df.index[new_df.iloc[:,0] == "0"]
  new_df = new_df.drop(new_df_0)
  return new_df.head()


def dup_reindex(df, new_df):

  # 0行目で重複したものを削除
  # indexの振り直し

  df_drop = df.drop_duplicates([0])
  new_df = df_drop.reset_index(drop = True)
  print(df.shape)
  print(new_df.shape)
  return new_df.head()

In [150]:
japan1 = pd.DataFrame()

clean(4, df,japan, japan1)

抽出したい列名:全国，都道府県，市区町村（2000年市区町村含む）
抽出したい列名:総数
抽出したい列名:男
抽出したい列名:女
[['全国，都道府県，市区町村（2000年市区町村含む）'], ['総数'], ['男'], ['女']]
基準となる列名移動後の住所地（現住地）2020〜
移動後の住所地（現住地）2020〜

        0            1           2           3 移動後の住所地（現住地）2020〜
0      全国  126,146,099  61,349,581  64,796,518               札幌市
1     北海道    5,224,614   2,465,088   2,759,526            札幌市中央区
2     札幌市    1,973,395     918,682   1,054,713             札幌市北区
3  札幌市中央区      248,680     112,853     135,827             札幌市東区
4   札幌市北区      289,323     136,596     152,727            札幌市白石区

In [124]:
japan2 = pd.DataFrame()

select_make(4, df.shape[0], japan1["移動後の住所地（現住地）2020〜"], japan1[0], japan2 )

        0          1        2          3
0     札幌市  1,973,395  918,682  1,054,713
1  札幌市中央区    248,680  112,853    135,827
2   札幌市北区    289,323  136,596    152,727
3   札幌市東区    265,379  126,023    139,356
4  札幌市白石区    211,835  100,062    111,773

In [148]:
japan3 = pd.DataFrame()

dup_reindex(japan2, japan3)

(589, 4)
(580, 4)

        0          1        2          3
0     札幌市  1,973,395  918,682  1,054,713
1  札幌市中央区    248,680  112,853    135,827
2   札幌市北区    289,323  136,596    152,727
3   札幌市東区    265,379  126,023    139,356
4  札幌市白石区    211,835  100,062    111,773

In [151]:
japan3.to_csv("/content/drive/MyDrive/自分用/zemmiyou/卒論/データ/移動人口データ/総人口.csv", encoding = "shift_jis")